* {
	margin: 0;
	padding: 0;
	font-family: Roboto, Arial;
}
h1 {
	font-size: 65px;
	margin-top: 45px;
	margin-bottom: 30px;
}

.main--content {
	width: 75%;
margin: auto auto;}
p {
	font-size: 16px;
}

.year--content {
	padding: 40px;
	display: flex;
	border-style: solid;
	border-color: #f1f1f1;
	margin-bottom: 30px;
	border-radius: 40px 40px;
	opacity: 0;
    transition: all 0.2s ease-out;
    transition-delay: 0.1s;
    background-color: rgba(0,0,0, 0.05);
}


.year--content:nth-child(even) {
	transform: translateX(-30px);
}
.year--content:nth-child(odd) {
	transform: translateX(30px);
}

.year--content:hover{
	transform: scale(1.2);
	background-color: white;
}

.year {
	font-size: 60px;
	flex: 1;
	font-weight: bold;
}

.year--content>p {
	flex: 6;
	margin-left: 20px;
}


.scroll-animation {
    opacity: 1;
    transform: translateX(0);
}

.circle {
	position: fixed;
	content: "";
	background-color: lightgray;
	top: -23px;
	left: -52px;
	height: 500px;
	width: 734px;
	z-index: -2434;
}